.headermenuitem {
  font-weight: 500;
  height: 22px;
  font-family: Avenir;
}

.headermainactive {
  color: #334d6e;
  font-weight: 800;
}

::placeholder {
  font-family: Avenir;
  color: #b0b7c3;
  font-weight: 500;
  font-size: 14px;
}

.searchIconPosition {
  position: absolute;
  top: 13px;
  left: 20px;
}
