@font-face {
  font-family: 'Essential PragmataPro';
  font-weight: normal;
  font-style: normal;
  src: url('../../legacy/assets/fonts/EssentialPragmataPro.ttf')
    format('truetype');
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.crt {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #7b8e78;
  box-shadow: inset 0.25em 0.25em 2px rgba(255, 255, 255, 0.4),
    inset -0.25em -0.25em 2px rgba(0, 0, 0, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
  font-family: 'Essential PragmataPro', monospace !important;
}

.screen {
  box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
}

.screen::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  box-shadow: inset 0 0 1em 0.5em rgb(255 255 255 / 8%);
}

.screen::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.1;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

.wrapper {
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  animation: pulse 5s linear infinite;
}

.wrapper::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: radial-gradient(
    ellipse at center,
    rgba(0, 30, 30, 0) 0%,
    rgba(0, 30, 30, 0.5) 100%
  );
  pointer-events: none;
}

.wrapper::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.2;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    #0f7 0%,
    rgba(0, 255, 119, 0) 100%
  );
  animation: glow 2s linear infinite;
}

.interlace {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  background: linear-gradient(#888 50%, #000 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
}

.scanline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;
  opacity: 0.1;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 250, 250, 1) 50%,
    rgba(100, 255, 100, 1) 50%,
    transparent 100%
  );
  animation: scanline 1.25s linear infinite;
}

.envelope {
  position: absolute;
  left: -50px;
  top: -50px;
  right: -50px;
  bottom: -50px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.25);
  animation: skew 5s linear infinite;
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes skew {
  0% {
    transform: skewX(0.5deg);
  }

  8% {
    transform: skewX(1deg) scale(1.0001);
  }

  15% {
    transform: skewX(0.6deg) skewY(-0.05deg);
  }

  30% {
    transform: skewX(0.6deg);
  }

  100% {
    transform: skewX(0.1deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.005);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blur {
  50% {
    color: darken(#18ff62, 10%);
    text-shadow: 2px 0 2px lighten(rgba(10, 255, 10, 0.8), 50%);
  }
}

@keyframes glow {
  50% {
    transform: scale(1.2);
  }
}

.greenThemeBtn,
.amberThemeBtn,
.blackThemeBtn {
  position: fixed;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border: 3px transparent solid;
  border-radius: 3px;
  cursor: pointer;
  z-index: 100;
}

.greenThemeBtn.active,
.amberThemeBtn.active,
.blackThemeBtn.active {
  border-color: white;
}

.greenThemeBtn {
  right: 75px;
  background-color: #44aa44;
}

.amberThemeBtn {
  right: 45px;
  background-color: #e88537;
}

.blackThemeBtn {
  right: 15px;
  background-color: black;
}

.crt.amber {
  background: #311;
}

.crt.black,
.crt.black .screen {
  background-color: black;
  box-shadow: none;
}

/* To allow copy text from terminal */
.crt .wrapper::after,
.crt .interlace,
.crt .screen::before,
.crt .screen::after,
.crt .wrapper::before,
.crt .wrapper::after {
  pointer-events: none;
}
