.receivecontainer {
  margin: 16px;
}
.receiveMaxWidth {
  max-width: 600px;
}
.receiveblock {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.receiveDetail {
  margin-top: 16px;
}
.receiveQrcode {
  padding: 8px;
  background-color: white;
}

.buttonMarginTop {
  margin-top: 10px;
}

.lastAccessed {
  display: inline-block;
  max-width: 225px;
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: #fff;
  text-align: right;
}

.flexspacebetween {
  display: flex;
  justify-content: space-between;
}

.itemsCenter {
  align-items: center;
}
