.date-picker {
  @apply shadow-lg border-none rounded-md font-body flex flex-col;
}

.react-datepicker-popper {
  z-index: 3 !important;
}

.react-datepicker__tab-loop {
  position: absolute;
}

/* Header styles */
.date-picker .react-datepicker__header {
  @apply bg-white border-none pt-0;
}

/* Day name styles */
.date-picker .react-datepicker__day-name {
  @apply w-8 leading-8 m-1 text-button-text font-roman text-15px;
}

/* Week styles */
.date-picker .react-datepicker__week {
  @apply relative overflow-hidden;
  z-index: 1;
}

/* Day styles */
.date-picker .react-datepicker__day {
  @apply relative text-gray-4a font-roman text-15px w-8 rounded-md leading-8 m-1 mb-0;
}
.date-picker .react-datepicker__day:hover {
  @apply bg-gray-a0;
}

/* Day outside month styles */
.date-picker .react-datepicker__day--outside-month {
  @apply text-gray-a0;
}

/* Day in range styles */
.date-picker .react-datepicker__day--in-range,
.date-picker .react-datepicker__day--in-selecting-range {
  @apply bg-gray-e6 !important;
}
.date-picker .react-datepicker__day--in-range:before,
.date-picker .react-datepicker__day--in-range:after,
.date-picker .react-datepicker__day--in-selecting-range:before,
.date-picker .react-datepicker__day--in-selecting-range:after {
  content: '';
  @apply absolute top-0 bottom-0 bg-gray-e6 w-5;
  z-index: -1;
}
.date-picker .react-datepicker__day--in-range:before,
.date-picker .react-datepicker__day--in-selecting-range:before {
  @apply -left-2/4;
}
.date-picker .react-datepicker__day--in-range:after,
.date-picker .react-datepicker__day--in-selecting-range:after {
  @apply -right-2/4;
}
.date-picker .react-datepicker__day--in-selecting-range:hover:after {
  content: none;
}

/* Selected day styles */
.date-picker .react-datepicker__day--selected,
.date-picker .react-datepicker__day--range-end,
.date-picker .react-datepicker__day--range-end:hover {
  @apply bg-navigation-selected text-white !important;
}

.date-picker .react-datepicker__day--selected:before,
.date-picker .react-datepicker__day--selected:after,
.date-picker .react-datepicker__day--range-end:after {
  content: none !important;
}

.date-picker .react-datepicker__day--keyboard-selected {
  background: none;
}
