.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #f1f3f3;
  stroke: #6f257f;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6f257f;
  stroke-width: 2px;
  stroke-dasharray: 2, 4;
}

.tooltip {
  fill: #141416;
  fill-opacity: 0.88;
}

.tooltip-value {
  stroke: white;
}
