.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.5);
}

.overlay.open {
  display: block;
}

.modalWrapper {
  position: absolute;
  padding: 2px;
  inset: 20px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
}

.modalContent {
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
}

.btn_close {
  position: absolute;
  top: -15px;
  right: -15px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-align: center;
  border-radius: 100%;
  border: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(38 38 38 / 8%);
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.iframe {
  position: relative;
  z-index: 5;
}

.iframe,
.iframe iframe {
  width: 100%;
  height: 100%;
}

.iframe iframe {
  border: 0;
}
