.message {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message.mine .bubble-container {
  align-items: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 20px;
  /* margin-bottom: 10px; */
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: hsla(0, 0%, 100%, 0.05);
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message.mine .bubble-container .bubble {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.bubble-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubble-image {
  width: 100px;
  height: 100px;
}

.bubble-audio,
.bubble-image {
  border-radius: 10px !important;
  margin-top: 0 !important;
}

.bubble-audio audio {
  height: 30px;
}

.bubble-audio audio:focus {
  outline: none;
}
