:root {
  --background-color: #000;
  --color: #fff;
  --base-unit: 1em;
  --font-size: 18px;
  --chassis-background: #7b8e78;
  --chassis-margin: 1em * 3;
  --interlace-background: linear-gradient(#888 50%, #000 50%);
  --interlace-size: 4px;
  --envelope-background: rgba(#000, 0.25);
  --envelope-margin: 2em;
  --scanline-background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 250, 250, 1) 50%,
    rgba(100, 255, 100, 1) 50%,
    transparent 100%
  );
  --output-font-family: 'monofont';
  --output-color: #18ff62;
  --output-text-shadow: rgba(10, 255, 10, 0.8);
  --output-line-height: 1.25;
  --gradient-bottom: rgb(0, 30, 30);
  --gradient-inner: rgb(0, 255, 119);
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}

.crt {
  position: relative;
  overflow: hidden;
  z-index: 10;
  width: 1280px;
  height: 616px;
  max-width: 1280px;
  max-height: 1024px;
  border-radius: 1em;

  /* box-shadow: inset 0.25em 0.25em 2px rgba(255, 255, 255, 0.4), inset -0.25em -0.25em 2px rgba(0, 0, 0, 0.4); */
  user-select: none;
  font-size: 18px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

.screen {
  position: relative;
  z-index: 20;
  width: 80%;
  height: 95%;

  /* margin-top: 1.5em; */

  /* margin-left: 1.5em; */
  background: #000;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
}
.screen::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 70;
  box-shadow: inset 0 0 1em 0.5em rgb(255 255 255 / 8%);
  border-radius: 1em;
}

.screen::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 60;
  opacity: 0.1;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  transform-origin: 50% 50%;
  transform: skewX(0.5deg);
  animation: pulse 5s linear infinite;
}
.wrapper::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 31;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 30, 30, 0) 0%,
    rgba(0, 30, 30, 0.5) 100%
  );
  pointer-events: none;
}

.wrapper::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 32;
  opacity: 0.5;
  background: radial-gradient(
    ellipse at center,
    #0f7 0%,
    rgba(0, 255, 119, 0) 100%
  );
  pointer-events: none;
  animation: glow 2s linear infinite;
}

.interlace {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 21;
  opacity: 0.25;
  background: linear-gradient(#888 50%, #000 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
}

.envelope {
  /* @include fill($envelope-margin, $envelope-margin, $envelope-margin, $envelope-margin); */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.25);
  animation: skew 5s linear infinite;
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}
.terminal {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.terminal textarea {
  display: block;
  background: transparent;
  resize: none;
  width: 100%;
  height: 100%;
  border: 0 none;
  outline: 0 none;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0;
  overflow: hidden;
  padding: 1em;
  color: #18ff62;
  text-shadow: 0 0 2px rgba(10, 255, 10, 0.8);

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'monofont';
  font-size: inherit;
  animation: blur 5s linear infinite;
  line-height: 1.25;
  white-space: pre-wrap;
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

#scanline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;
  opacity: 0.1;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 250, 250, 1) 50%,
    rgba(100, 255, 100, 1) 50%,
    transparent 100%
  );
  animation: scanline 1.25s linear infinite;
}

@keyframes skew {
  0% {
    transform: skewX(0.5deg);
  }

  8% {
    transform: skewX(1deg) scale(1.0001);
  }

  15% {
    transform: skewX(0.6deg) skewY(-0.05deg);
  }

  30% {
    transform: skewX(0.6deg);
  }

  100% {
    transform: skewX(0.1deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.005);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blur {
  50% {
    color: darken(#18ff62, 10%);
    text-shadow: 2px 0 2px lighten(rgba(10, 255, 10, 0.8), 50%);
  }
}

@keyframes glow {
  50% {
    transform: scale(1.2);
  }
}
