@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h1 leading-10 font-extrabold;
  }
  h2 {
    @apply text-h2 leading-8 font-extrabold;
  }
  h3 {
    @apply text-h3 leading-7 font-extrabold;
  }
  h4 {
    @apply text-h4 leading-6;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
}

@layer components {
  /* Used to wrap main routes, should be used with `content` */
  .wrapper {
    @apply px-4 md:px-60px md:container pt-5;
  }
  .content {
    @apply overflow-y-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer utilities {
  .text-gradient {
    background: radial-gradient(
      105.31% 107.86% at 95.36% 14.36%,
      #ffcf14 0%,
      #ee8fff 55.86%,
      #38deff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* For containers with white BG such as MemberStrip images */
  .scrollbar-bg-white::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px #eeeeef;
    border: solid 6px white;
  }
  .scrollbar-bg-white::-webkit-scrollbar-thumb:vertical {
    border-right: solid 6px white;
    border-left: solid 6px white;
  }
  .scrollbar-bg-white::-webkit-scrollbar-thumb:horizontal {
    border-top: solid 6px white;
    border-bottom: solid 6px white;
  }

  .routes-wrapper .content {
    height: calc(100vh - 66px);
  }
  .routes-wrapper .content.with-page-header {
    height: calc(100vh - 166px);
  }
}

@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'typeface-roboto/index.css';
@import '/src/common/assets/fonts/font.css';

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* total width */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px #eeeeef;
  border: solid 6px #f8f9fa;
}

::-webkit-scrollbar-thumb:vertical {
  box-shadow: inset 0 0 14px 14px #c5c9d2;
  border-right: solid 6px #f8f9fa;
  border-left: solid 6px #f8f9fa;
  border-radius: 14px;
}
::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 0 0 14px 14px #c5c9d2;
  border-top: solid 6px #f8f9fa;
  border-bottom: solid 6px #f8f9fa;
  border-radius: 14px;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
}

.react-tabs__tab--selected {
  background: #c3921f;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus::after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

img,
img::after,
img::before {
  user-select: none;
  cursor: default;
}

a,
a::after,
a::before {
  user-select: none;
  cursor: default;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.focus-visible:focus {
  outline: none;
}

.focus-visible:focus-visible {
  outline: 1px solid #3f9af7;
}
