.shadow {
  mix-blend-mode: darken;
  filter: blur(50px);
  left: 5%;
  right: 5%;
  top: 18%;
  z-index: -1;
}

.buttonsContainer {
  bottom: 6%;
}

.buttons {
  width: 136px;
  box-shadow: 0 40px 32px -24px rgba(15, 15, 15, 0.12);
}
